<app-menu></app-menu>
<div class="container">
    <div class="row">
    
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
 
 
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">{{user.id}}</h3>
          </div>
          <div class="panel-body">
            <div class="row">

              
       
              <div class=" col-md-9 col-lg-9 "> 
                <form (ngSubmit)="onEdit()" #editform="ngForm">
                <table class="table table-user-information">
                  <tbody>
                    <tr>
                      <td>name:</td>
                      <td><input type="text" name="name" ngModel [value]="user.name" /></td>
                    </tr>
                    <tr>
                      <td>username</td>
                      <td><input type="text" name="username" ngModel [value]="user.username" /></td>
                    </tr>   
                         <tr>
                      <td>email</td>
                      <td><input type="text" name="email" ngModel [value]="user.email" /></td>
                    </tr>
                    <tr>
                      <td>phone</td>
                      <td><input type="text" name="phone" ngModel [value]="user.phone" />
                      </td>
                         
                    </tr>
                    <tr>
                      <td>website</td>
                      <td><input type="text" name="website" [(ngModel)]="user.website" />
                      </td>
                    </tr>
                      
                    <tr>
                      <td>suite</td>
                      <td><input type="text" name="suite" ngModel [value]="user.address.suite" /></td>
                    </tr>
                    <tr>
                      <td>street</td>
                      <td><input type="text" name="street" ngModel [value]="user.address.street" /></td>
                    </tr>
                    <tr>
                      <td>city</td>
                      <td><input type="text" name="city" ngModel [value]="user.address.city" />
                      </td>
                         
                    </tr>
                    <tr>
                      <td>zipcode</td>
                      <td><input type="text" name="zipcode" ngModel [value]="user.address.zipcode" />
                      </td>
                         
                    </tr>  
                    <tr>
                      <td>lat</td>
                      <td><input type="text" name="lat" ngModel [value]="user.address.geo.lat" />
                      </td>
                         
                    </tr>
                    <tr>
                      <td>lng</td>
                      <td><input type="text" name="lng" ngModel [value]="user.address.geo.lng" />
                      </td>
                         
                    </tr>
                   

                     
                      <tr>
                      <td>company name</td>
                      <td><input type="text" name="companyname" ngModel [value]="user.company.name" />
                      </td>
                    </tr>
                    <tr>
                    <td>catchPhrase </td>
                    <td><input type="text" name="companycatchphrase" ngModel [value]="user.company.catchPhrase" />
                    </td>
                  </tr>
                  <tr>
                  <td>bs</td>
                  <td><input type="text" name="companybs" ngModel [value]="user.company.bs" />
                  </td>
                </tr>
                      <!-- <tr>
                        <td>subscriptions_url</td>
                        <td>{{user.subscriptions_url}}
                        </td>
                      </tr>
                      <tr>
                        <td>organizations_url</td>
                        <td>{{user.organizations_url}}
                        </td>
                      </tr>
                      <tr>
                        <td>repos_url</td>
                        <td>{{user.repos_url}}
                        </td>
                      </tr>
                      <tr>
                        <td>events_url</td>
                        <td>{{user.events_url}}
                        </td>
                      </tr>
                      <tr>
                        <td>received_events_url</td>
                        <td>{{user.received_events_url}}
                        </td>
                      </tr>
                      <tr>
                        <td>type</td>
                        <td>{{user.type}}
                        </td>
                      </tr> -->
                  </tbody>
                </table>
                <button type="submit"  class="btn btn-success">edit profile</button>
              </form>
              
              </div>
            </div>
          </div>
               
          
        </div>
      </div>
    </div>
  </div>