<app-menu></app-menu>
<div class="container">
    <div class="row">
    
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
 
 
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">{{user.name}}</h3>
          </div>
          <div class="panel-body">
            <div class="row">

              
       
              <div class=" col-md-9 col-lg-9 "> 
                <table class="table table-user-information">
                  <tbody>
                    <tr>
                      <td>id:</td>
                      <td>{{user.id}}</td>
                    </tr>
                    <tr>
                      <td>username</td>
                      <td>{{user.username}}</td>
                    </tr>
                 
                       
                           <tr>
                      <td>email</td>
                      <td>{{user.email}}</td>
                    </tr>
                        <tr>
                      <td>street</td>
                      <td>{{user.address.street}}</td>
                    </tr>
                    <tr>
                      <td>suite</td>
                      <td>{{user.address.suite}}</td>
                    </tr>
                    <tr>
                      <td>city</td>
                      <td>{{user.address.city}}
                      </td>
                         
                    </tr>
                    <tr>
                      <td>zipcode</td>
                      <td>{{user.address.zipcode}}
                      </td>
                         
                    </tr>  
                   
                   

                      <tr>
                        <td>phone</td>
                        <td>{{user.phone}}
                        </td>
                           
                      </tr>
                      <tr>
                        <td>website</td>
                        <td>{{user.website}}
                        </td>
                      </tr>

                      <!-- <tr>
                        <td>subscriptions_url</td>
                        <td>{{user.subscriptions_url}}
                        </td>
                      </tr>
                      <tr>
                        <td>organizations_url</td>
                        <td>{{user.organizations_url}}
                        </td>
                      </tr>
                      <tr>
                        <td>repos_url</td>
                        <td>{{user.repos_url}}
                        </td>
                      </tr>
                      <tr>
                        <td>events_url</td>
                        <td>{{user.events_url}}
                        </td>
                      </tr>
                      <tr>
                        <td>received_events_url</td>
                        <td>{{user.received_events_url}}
                        </td>
                      </tr>
                      <tr>
                        <td>type</td>
                        <td>{{user.type}}
                        </td>
                      </tr> -->
                  </tbody>
                </table>
                
              
                <a href="#" class="btn btn-success">edit profile</a>
              </div>
            </div>
          </div>
               
          
        </div>
      </div>
    </div>
  </div>