<app-menu></app-menu>
<div class="container">
    <div class="row">
    
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
 
 
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">{{user.login}}</h3>
          </div>
          <div class="panel-body">
            <div class="row">

              
       
              <div class=" col-md-9 col-lg-9 "> 
                <table class="table table-user-information">
                  <tbody>
                    <tr>
                      <td>id:</td>
                      <td>{{user.id}}</td>
                    </tr>
                    <tr>
                      <td>node_id</td>
                      <td>{{user.node_id}}</td>
                    </tr>
                 
                       
                           <tr>
                      <td>gravatar_id</td>
                      <td>{{user.gravatar_id}}</td>
                    </tr>
                      <tr>
                      <td>url</td>
                      <td>{{user.url}}</td>
                    </tr>
                    <tr>
                      <td>followers_url</td>
                      <td>{{user.followers_url}}</td>
                    </tr>
                    <tr>
                      <td>following_url</td>
                      <td>{{user.following_url}}
                      </td>
                         
                    </tr>
                    <tr>
                      <td>html_url</td>
                      <td>{{user.html_url}}
                      </td>
                         
                    </tr>
                   
                   

                      <tr>
                        <td>gists_url</td>
                        <td>{{user.gists_url}}
                        </td>
                           
                      </tr>
                      <tr>
                        <td>starred_url</td>
                        <td>{{user.starred_url}}
                        </td>
                      </tr>

                      <tr>
                        <td>subscriptions_url</td>
                        <td>{{user.subscriptions_url}}
                        </td>
                      </tr>
                      <tr>
                        <td>organizations_url</td>
                        <td>{{user.organizations_url}}
                        </td>
                      </tr>
                      <tr>
                        <td>repos_url</td>
                        <td>{{user.repos_url}}
                        </td>
                      </tr>
                      <tr>
                        <td>events_url</td>
                        <td>{{user.events_url}}
                        </td>
                      </tr>
                      <tr>
                        <td>received_events_url</td>
                        <td>{{user.received_events_url}}
                        </td>
                      </tr>
                      <tr>
                        <td>type</td>
                        <td>{{user.type}}
                        </td>
                      </tr>
                  </tbody>
                </table>
                
              
                <a href="#" class="btn btn-success">edit profile</a>
              </div>
            </div>
          </div>
               
          
        </div>
      </div>
    </div>
  </div>