<app-menu></app-menu>
 <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">username</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of data">
        <th scope="row">{{user.id}}</th>
        <td>{{user.username}}</td>
        <td><a [routerLink]="['/user' , user.id]">{{user.name}}</a></td>
        <td>{{user.email}}</td>
      </tr>
     
    </tbody>
  </table>