<app-menu></app-menu>
 <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Node_id</th>
        <th scope="col">name</th>
        <th scope="col">type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of data">
        <th scope="row">{{user.id}}</th>
        <td>{{user.node_id}}</td>
        <td><a [routerLink]="['/user' , user.id]">{{user.login}}</a></td>
        <td>{{user.type}}</td>
      </tr>
     
    </tbody>
  </table>